{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users zonder afdeling</h1>
    <ul>
        {% for user in users %}
            <li> {{ user.naam }} </li>
        {% endfor %}
    </ul>
{% endblock %}