{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a class="main-article-link" href="{{ path('arts_home') }}">
            <div class="main-article">
                <img src="{{ asset('images/ee3.jpg') }}" alt="">
                <h1 class="text-center">Welcome to Healthone</h1>
                <a class="container" href="{{ path('app_arts_recepten') }}"> Recepten</a>
            </div>
        </a>
    </div>
{% endblock %}